<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>vncviewer</string>
	<key>CFBundleIconFile</key>
	<string>vncviewer</string>
	<key>CFBundleIdentifier</key>
	<string>com.realvnc.vncviewer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>VNCv</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0.3 (r97046)</string>
	<key>CFBundleVersion</key>
	<string>5.0.3.37046</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2012 RealVNC Ltd.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vnc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vncviewer</string>
			<key>CFBundleTypeName</key>
			<string>VNC Connection Info</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleName</key>
	<string>VNC Viewer</string>
</dict>
</plist>
